.customer-view {
  display: flex;
  height: auto;
  margin-top: 0.1rem;
}

.list {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(0 0 0 / 0.2);
  border-left: 1px solid rgb(0 0 0 / 0.2);
  border-right: 1px solid rgb(0 0 0 / 0.2);
  background: #ffffff;
  padding: 1.5rem 1.2rem;
  cursor: pointer;
}

.active {
  background: #eeeeee;
}

.list-h1 {
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0 0 0.4rem 0;
}

.list-p {
  margin: 0;
  color: #707070;
  font-size: 14px;
}

.list-wrapper {
  width: 26rem;
  min-width: 26rem;
  display: flex;
  flex-direction: column;
  max-height: 92vh;
  overflow-y: scroll;
  max-height: 811px;
}

.data {
  flex-grow: 1;
  background: #f9f9f9;
}

.data-wrapper {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-h3 {
  margin: 0;
  font-weight: 400;
  font-size: 1.3rem;
}

.data-p {
  width: 60%;
  text-align: center;
}

.selected-list {
  background: #eeeeee;
}
